<!DOCTYPE html>
<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <section id="directivas">

        <input v-model="newTask" type="text" />
        <button @click="addTask(newTask)">Agregar</button>
        <!-- : antes dice que que la propiedad dependerá de los datos que se están pasando -->
        <ul :style="{background:color}" v-for="(task, key) in unCompletedTodos">
            <li :style='{textDecoration: task.completed ? "line-through" : "none", color:task.completed ? "red" : "green"}'>
                <input v-model="task.completed" type="checkbox" />
                {{task.name}}
            </li>
        </ul>
        <hr>
        <ul :style="{background:color}" v-for="(task, key) in completedTodos">
            <li :style='styles(task)'>
                <input v-model="task.completed" type="checkbox" />
                {{task.name}}
            </li>
        </ul>
    </section>

    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>