/* All from https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

* {
  padding: 0;
  margin: 0;
}

.container {
  height: 800px;
  background: lightcoral;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* flex-direction: column; */
}

.button {
  background: rgb(218, 218, 218);
  padding: 5px;
  border-radius: 7px;
}

.button-container {
  align-self: flex-start;
}

.text-container {
  background: white;
  width: 100px;
  height: 100px;
}
